body{
    background-color: rgb(195, 195, 231);
    text-align: justify;
}
.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 700px;
    margin-top: 80px;
    height: 500px;
    margin-left: 40px;
    
}
.about{
    display: flex;
}
.imgg{
    width: 500px;
    margin-left: 100px;
}
